.categari img{
    width: 100px;
}
.color a{
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border:none ;
}
.color-1 a{
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border:none ;
}